@page {
  size: letter;
  margin: 0.5in 1in;
}

div.no-break {
  break-inside: avoid;
}

* {
  :host {
    ::ng-deep {
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 10pt;
    }
  }
}

div > .job-skill:not(:first-child) {
  border-left: 2px solid;
  margin-left: 3pt;
  padding-left: 3pt;
}

.content {
  margin: auto 5%;
}

@media print {
  .content {
    margin: 0;
  }
}
