<h2>Work Experience</h2>
<mat-accordion class="experience-panels">
    <mat-expansion-panel [expanded]="i === 0"
        [hideToggle]="!(isXSmall$ | async)"
        *ngFor="let job of entries; let i = index">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{job.company}}
            </mat-panel-title>
            <mat-panel-description class="entry-dates" fxHide.lt-sm="true">
                <span *ngIf="job.end === undefined">
                    {{job.start | date: (isLarge$ | async) ? 'MMMM y' : 'MMM y'}} — Present
                </span>
                <span *ngIf="job.end !== undefined">
                    {{job.start | date: (isLarge$ | async) ? 'MMMM y' : 'MMM y'}} —
                    {{job.end | date: (isLarge$ | async) ? 'MMMM y' : 'MMM y'}}
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="90">
                <p><b>{{job.position}}</b><br>
                    <span fxShow.lt-sm="true" fxHide class="date-subtitle">
                        <span *ngIf="job.end === undefined">
                            {{job.start | date: 'MMMM y'}} — Present
                        </span>
                        <span *ngIf="job.end !== undefined">
                            {{job.start | date: 'MMMM y'}} —
                            {{job.end | date: 'MMMM y'}}
                        </span>
                    </span>
                </p>
                <p *ngIf="job.description != undefined"
                    [innerHTML]="job.description"></p>
                <ul *ngIf="job.items != undefined">
                    <li *ngFor="let item of job.items">{{item}}</li>
                </ul>
                <span class="job-skills" *ngIf="job.skills != undefined">
                    <app-skill-icon [skill]="skill"
                        *ngFor="let skill of job.skills"></app-skill-icon>
                </span>
            </div>
            <div fxFlex="10" fxFlex.lt-lg="20">
                <a [href]="job.url"
                    *ngIf="job.logo != undefined && job.url != undefined"
                    target="_blank">
                    <img class="company-logo img-link" src="./assets/img/{{job.logo}}">
                </a>
                <img class="company-logo" src="./assets/img/{{job.logo}}"
                    *ngIf="job.logo != undefined && job.url == undefined">
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>