<mat-toolbar color="primary">
  <span>Allan Galarza</span>
</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutGap="2%">
  <div>
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="20">
          <div class="profile-picture"
            style="background-image:url('assets/img/profile.jpg')"></div>
        </div>
        <div fxFlex="80">
          <h1>
            {{profile.headline}}
          </h1>
          <p class="about-me">
            {{profile.aboutMe}}
          </p>
          <p>
          </p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout="none top" fxLayoutGap="1%">
    <div fxFlex="30">
      <mat-card class="sidebar">
        <h2>Online</h2>
        <p *ngFor="let link of profile.onlineProfiles">
          <fa-icon [icon]="link.icon"></fa-icon>&nbsp;<a
            [href]="link.url">{{link.title}}</a>
        </p>
        <h2>Languages</h2>
        <p *ngFor="let language of profile.languages">
          {{language.name}} ({{language.level}})
        </p>
        <h2>Interests</h2>
        <p *ngFor="let interest of profile.interests">
          {{interest}}
        </p>
      </mat-card>
    </div>
    <div fxFlex="69">
      <h2>Work Experience</h2>
      <mat-accordion class="experience-panels">
        <mat-expansion-panel [expanded]="i === 0" hideToggle
          *ngFor="let job of profile.workExperience; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{job.company}}
            </mat-panel-title>
            <mat-panel-description *ngIf="job.end === undefined">
              {{job.start | date: 'MMMM y'}} — Present
            </mat-panel-description>
            <mat-panel-description *ngIf="job.end != undefined">
              {{job.start | date: 'MMMM y'}} — {{job.end | date: 'MMMM y'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="90">
              <p><b>{{job.position}}</b></p>
              <p *ngIf="job.description != undefined"
                [innerHTML]="job.description"></p>
              <ul *ngIf="job.items != undefined">
                <li *ngFor="let item of job.items">{{item}}</li>
              </ul>
              <span class="icon job-skill">
                <svg *ngFor="let skill of job.skills" [matTooltip]="profile.skills[skill].text" role="img" viewBox="0 0 24 24" (mouseover)="hover[job.company+skill] = true" (mouseleave)="hover[job.company+skill] = false" [style.fill]="hover[job.company+skill] ? toColor(profile.skills[skill].icon.hex) : null">
                  
                <path [attr.d]="profile.skills[skill].icon.path" />
                </svg>
              </span>
            </div>
            <div fxFlex="10">
              <img class="company-logo" *ngIf="job.logo != undefined"
                src="./assets/img/{{job.logo}}">
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <h2>Education</h2>
      <mat-accordion class="experience-panels">
        <mat-expansion-panel hideToggle
          *ngFor="let school of profile.education; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{school.name}}
            </mat-panel-title>
            <mat-panel-description *ngIf="school.end === undefined">
              {{school.start | date: 'MMMM y'}} — Present
            </mat-panel-description>
            <mat-panel-description *ngIf="school.end != undefined">
              {{school.start | date: 'MMMM y'}} — {{school.end | date: 'MMMM
              y'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="90">
              <p>{{school.title}}</p>
              <p>{{school.level}}</p>
            </div>
            <div fxFlex="10">
              <img class="company-logo" *ngIf="school.logo != undefined"
                src="./assets/img/{{school.logo}}">
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>