<mat-toolbar color="primary">
  <span class="header-title">Allan Galarza</span>
</mat-toolbar>
<div class="container">
  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="1%">
    <div fxFlex="25" fxLayout="column" fxLayoutGap="2%">
      <div>
        <mat-card>
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <div class="profile-picture"></div>
            <div>
              <p class="about-me">
                {{profile.aboutMe}}
              </p>
            </div>
          </div>
        </mat-card>
      </div>
      <mat-card class="sidebar">
        <h2>Contact</h2>
        <p *ngFor="let link of profile.onlineProfiles">
          <fa-icon [icon]="link.icon"></fa-icon>&nbsp;<a
            [href]="link.url">{{link.title}}</a>
        </p>
        <h2>Languages</h2>
        <p *ngFor="let language of profile.languages">
          {{language.name}} ({{language.level}})
        </p>
        <h2>Interests</h2>
        <p *ngFor="let interest of profile.interests">
          {{interest}}
        </p>
      </mat-card>
    </div>
    <div fxFlex="69">
      <h2>Work Experience</h2>
      <mat-accordion class="experience-panels">
        <mat-expansion-panel [expanded]="i === 0" hideToggle
          *ngFor="let job of profile.workExperience; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{job.company}}
            </mat-panel-title>
            <mat-panel-description *ngIf="job.end === undefined" class="entry-dates">
              {{job.start | date: 'MMMM y'}} — Present
            </mat-panel-description>
            <mat-panel-description *ngIf="job.end != undefined" class="entry-dates">
              {{job.start | date: 'MMMM y'}} — {{job.end | date: 'MMMM y'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="90">
              <p><b>{{job.position}}</b></p>
              <p *ngIf="job.description != undefined"
                [innerHTML]="job.description"></p>
              <ul *ngIf="job.items != undefined">
                <li *ngFor="let item of job.items">{{item}}</li>
              </ul>
              <span class="icon job-skill" *ngIf="job.skills != undefined">
                <svg *ngFor="let skill of job.skills" [matTooltip]="skill.text"
                  role="img" viewBox="0 0 24 24"
                  (mouseover)="hover[job.company+skill.text] = true"
                  (mouseleave)="hover[job.company+skill.text] = false"
                  [style.fill]="hover[job.company+skill.text] ? toColor(skill.icon.hex) : null">
                  <path [attr.d]="skill.icon.path" />
                </svg>
              </span>
            </div>
            <div fxFlex="10">
              <img class="company-logo" *ngIf="job.logo != undefined"
                src="./assets/img/{{job.logo}}">
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <h2>Projects</h2>
      <mat-accordion class="experience-panels">
        <mat-expansion-panel hideToggle
          *ngFor="let project of profile.projects; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{project.name}}
            </mat-panel-title>
            <mat-panel-description *ngIf="project.end === undefined" class="entry-dates">
              {{project.start | date: 'MMMM y'}} — Present
            </mat-panel-description>
            <mat-panel-description *ngIf="project.end != undefined" class="entry-dates">
              {{project.start | date: 'MMMM y'}} —
              {{project.end | date: 'MMMM y'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="90">
              <p *ngIf="project.description != undefined"
                [innerHTML]="project.description"></p>
              <span class="icon job-skill" *ngIf="project.skills != undefined">
                <svg *ngFor="let skill of project.skills"
                  [matTooltip]="skill.text" role="img" viewBox="0 0 24 24"
                  (mouseover)="hover[project.name+skill.text] = true"
                  (mouseleave)="hover[project.name+skill.text] = false"
                  [style.fill]="hover[project.name+skill.text] ? toColor(skill.icon.hex) : null">

                  <path [attr.d]="skill.icon.path" />
                </svg>
              </span>
            </div>
            <div fxFlex="10">
              <img class="company-logo" *ngIf="project.logo != undefined"
                src="./assets/img/projects/{{project.logo}}">
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <h2>Skills & Tools</h2>
      <mat-card>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let skill of profile.skills">{{skill.name}}
          </mat-chip>
        </mat-chip-list>
      </mat-card>
      <h2>Education</h2>
      <mat-accordion class="experience-panels">
        <mat-expansion-panel hideToggle
          *ngFor="let school of profile.education; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{school.name}}
            </mat-panel-title>
            <mat-panel-description *ngIf="school.end === undefined" class="entry-dates">
              {{school.start | date: 'MMMM y'}} — Present
            </mat-panel-description>
            <mat-panel-description *ngIf="school.end != undefined" class="entry-dates">
              {{school.start | date: 'MMMM y'}} —
              {{school.end | date: 'MMMM y'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="90">
              <p>{{school.title}}</p>
              <p>{{school.level}}</p>
            </div>
            <div fxFlex="10">
              <img class="company-logo" *ngIf="school.logo != undefined"
                src="./assets/img/{{school.logo}}">
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>