
h2 {
  font-size: 150%;
}

::ng-deep .entry-dates.mat-expansion-panel-header-description {
  flex-grow: 0;
}

.sidebar > p {
  margin:  0.7rem;
  font-size: 1.1em;
}

.header-title {
  font-size: 130%;
}

.about-me {
  text-justify: inter-word;
  text-align: justify;
}