/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #eeeeee;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #4287f5;
        text-decoration: none;
    }
}

.container {
    margin: 1% 17%;
}

.profile-picture {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.headline {
    font-size: 150%;
}

.about-me {
    font-size: 120%;
}

.company-logo {
    width: 100%;
    height: auto;
}
