$breakpoint-xs: 599px;
$breakpoint-sm: 959px;

html,
body {
    height: 100%;
    background-color: #eeeeee;
}
body {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
}

img {
    height: 1em;
    width: 1em;
    fill: red;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #4287f5;
        text-decoration: none;
    }
}

.container {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 10%;
    @media only screen and (min-width: $breakpoint-xs)  {
        width: 85%;
    }
    @media only screen and (min-width: $breakpoint-sm)  {
        width: 70%;
    }
}

.profile-picture {
    background-image: url("./assets/img/profile.jpg");
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    min-width: 80%;
    padding-top: 80%;
    float: left;
    @media only screen and (max-width: $breakpoint-sm)  {
        min-width: 70%;
        padding-top: 70%;
    }
    @media only screen and (max-width: $breakpoint-xs)  {
        min-width: 60%;
        padding-top: 60%;
    }
}

.headline {
    font-size: 150%;
}

.about-me {
    font-size: 120%;
}

.company-logo {
    width: 100%;
    height: auto;
}
