
html,
body {
    height: 100%;
    background-color: #eeeeee;
}
body {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #4287f5;
        text-decoration: none;
    }
}