<app-printable class="print-only"></app-printable>
<div class="no-print">
  <mat-toolbar color="primary">
    <span class="header-title">Allan Galarza</span>
  </mat-toolbar>
  <div class="container">
    <div class="flex flex-col md:flex-row gap-2">
      <div class="flex flex-col gap-2 md:basis-1/4">
        <mat-card appearance="raised" class="sidebar">
          <mat-card-content>
            <h2>Contact</h2>
            <p *ngFor="let link of profile.onlineProfiles">
              <fa-icon [icon]="link.icon"></fa-icon>&nbsp;<a
                [href]="link.url">{{link.title}}</a>
            </p>
            <h2>Languages</h2>
            <p *ngFor="let language of profile.languages">
              {{language.name}} ({{language.level}})
            </p>
            <h2>Interests</h2>
            <p *ngFor="let interest of profile.interests">
              {{interest}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-col gap-2 md:basis-3/4">
        <div>
          <h2>About Me</h2>
          <mat-card appearance="raised">
            <mat-card-content [innerHTML]="profile.aboutMe">
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <h2>Skills & Tools</h2>
          <mat-card appearance="raised">
            <mat-card-content>
              <mat-chip-listbox aria-label="Skills">
                <mat-chip *ngFor="let skill of profile.skills">
                  <app-skill-icon *ngIf="skill.icon" [tooltip]="false"
                    class="skill-icon"
                    [skill]="skill.icon"></app-skill-icon>&nbsp;{{skill.name}}
                </mat-chip>
              </mat-chip-listbox>
              <
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <app-work-experience [entries]="profile.workExperience">
          </app-work-experience>
        </div>
        <div>
          <app-projects [projects]="profile.projects"></app-projects>
        </div>
        <app-education [entries]="profile.education"></app-education>
      </div>
    </div>
  </div>
</div>
